@font-face {
    font-family: "Bebas";
    src: url("../Fonts/BebasNeue Book.ttf");
}
@font-face {
    font-family: "Bespoke";
    src: url("../Fonts/Bespoke-Pg2SqW04e_.ttf");
}
a {
  text-decoration: none;
  color: inherit;
}
 #aboutMe {
   margin-left: 20%;
   width: 30%;
   float: left;
}
body {
    background: url('../Pictures/thuy.jpg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: calibri;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#bottomBanner {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
}

#contactHeader {
  width: 100%;
}

#contactHeader > p{
  font-size: 350%;
  font-family: Franklin Gothic Book Regular;
  width: 100%;
  margin-top: 2.7%;
  margin-bottom: 0;
  line-height: 0.8  ;
  border-width: 2px;
  border-bottom: 2px white solid;
  padding-left: 14%;
}

#descriptions {
  margin: 0;
  text-align: right;
  margin-right: 10%;
  font-size: 120%;
  margin-top: 20%;
  background: rgba(37, 46, 51, 0.75);
  color: #ffffff;
  padding: 2%;
}

#descriptions > p{
  padding: 0;
  margin: 0;
  margin-bottom: 2%;
}
#descriptions > a > img {
  width: 13%;
}
#email {
  float: left;
  width: 30%;
  margin-top: 10%;
}
img:hover {
  opacity: 0.5;
}
#wrap {
  width: 100%;
}
