a {
  text-decoration: none;
  color: inherit;
}

body {
    background: url('../Pictures/thuy.jpg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Calibri;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#bottomBanner {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
}

#headerWrap{
  position: absolute;
  margin: auto;
  border: 0px solid;
  width: 100%;
  display: block;
  height: 20%;
}

#headerWrap > div {
  display: inline-block;
}

#icon {
  float: left;
  height: 100%;
  width: 10.2%;
}

#icon > img {
  height: auto;
  min-width: 100%;
  max-width: 100%;
}

#interestsHeader{
  width: 89.8%;
  overflow: hidden;
}

#interestsHeader > p {
  font-size: 4em;
  width: 100%;
  margin-top: 1.4%;
  border-width: 2px;
  border-bottom: 4px white solid;
  padding-left: 4%;
}
